/*h1 {
    align-self: center;
    text-align: center;
}*/

/* BLOODY GENERAL SECTION */


:root {
    --txt-fill: #9E9E7C;
    --side-bg: #555533;
    --center-bg: #3B3B19;
    --txt-stark: #121100;
    --dark-bg: #3B3B19;

    color: var(--txt-fill);
    font-family: Cantarell, Calibri, sans-serif;
}
body {
    background: var(--dark-bg) url(../img/bg.jpg) no-repeat fixed center center;
}



/* TEXT SECTION */

h1, h2 {
    font-family: Georgia, "Liberation Serif", serif;
}

h3.table-header {
    line-height: 0.01em; /* I don't want THAT much space */
}

header {
    text-align: center;
}

small { /* unbeknownst to me, the smol is already present... */
    color: var(--txt-stark) /*#555533*/;
    font-size: 0.9em;
}

a {
    color: var(--txt-fill);
}

.aaa {
    font-weight: bold;
    text-decoration: none;
}



/* LAYOUT SECTION */

main {
    display: flex;
    padding: 0 2%; /* horizontal only */
    /*align-content: space-around;*/
}

.centroom {
    background-color:  var(--center-bg);
    margin: revert; /* seems to work better than auto */
    width: /*360px*/30%;
    /*padding: 32px;*/
    text-align: center;
    /* much crap I know */
    /*
    border-left-width: 64px;
    border-left-color: var(--side-bg);
    border-left-style: solid;
    border-right-width: 64px;
    border-right-color: var(--side-bg);
    border-right-style: solid;
    */
}

.sidediv {
    background-color: var(--side-bg);
    margin: revert;
    width: 35%;
    /*flex-grow: 1;*/
    solid-opacity: 50%;
    display: inline-block;
    /* maybe? */
}

/*
 * padding needs to be side-specific cuz its flipped
 * and with padding we can use percentage to specify
 * fixed-size borders: BEGONE!
 */

#leftie {
    text-align: right;
    padding: 0 3% 0 0.5%;
}
#rightie {
    text-align: left;
    padding: 0 0.5% 0 3%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px;
}

td, th {
    width: 10%; /* seems to auto-adjust when overflowing */
}


/* FANCY DROPDOWN SECTION */

.dropdown {
    position: relative;
    /*display: inline-block;*/
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--center-bg);
    /*min-width: 100px;*/
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1; /* what is this? */
}

.dropdown-content a {
    color: var(--txt-fill);
    /*padding: 12px 16px;*/
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--dark-bg);
}

.dropdown:hover .dropdown-content {
    display: block;
}


img.pixel-art {
    width: 40%;
    height: auto;
    image-rendering: crisp-edges;
}

