/*h1 {
    align-self: center;
    text-align: center;
}*/

:root {
    --side-bg: #555533;
    --center-bg: #3B3B19;
    --txt-fill: #9E9E7C;
    --txt-stark: #121100;
}

body {
    font-family: Cantarell, Calibri, sans-serif;
    color: var(--txt-fill);
    background: #3B3B19 url(bg.jpg) no-repeat fixed center center;
}

h1, h2 {
    font-family: Georgia, "Liberation Serif", serif;
}

.header {
    text-align: center;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px;
}

.smol {
    color: var(--txt-stark) /*#555533*/;
    font-size: 0.9em;
}

a {
    color: var(--txt-fill);
}

.aaa {
    font-weight: bold;
    text-decoration: none;
}

.container {
    display: flex;
    padding: 0 2%; /* horizontal only */
    /*align-content: space-around;*/
}

.centroom {
    background-color:  var(--center-bg);
    margin: revert; /* seems to work better than auto */
    width: /*360px*/30%;
    /*padding: 32px;*/
    text-align: center;
    /* much crap I know */
    border-left-width: 64px;
    border-left-color: var(--side-bg);
    border-left-style: solid;
    border-right-width: 64px;
    border-right-color: var(--side-bg);
    border-right-style: solid;
}

.sidediv {
    background-color: var(--side-bg);
    margin: revert;
    width: 35%;
    /*flex-grow: 1;*/
    solid-opacity: 50%;
}

.leftie {
    text-align: right;
}
.rightie {
    text-align: left;
}